name: bmcweb-standalone-build

on:
  push:
    branches:
      - main
      - master
  workflow_dispatch:
    inputs:
      git-address:
        description: 'Git Repository URL'
        required: true
        default: 'https://github.com/openbmc/bmcweb.git'
      branches-tags:
        description: 'Branch or Tag to build'
        required: true
        default: 'master'

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
    - name: Install Packages and Modern Meson
      run: |
        sudo apt-get update
        sudo apt-get install -y \
          g++ cmake ninja-build python3-pip python3-setuptools \
          libssl-dev libboost-all-dev libpam0g-dev \
          zlib1g-dev nlohmann-json3-dev libsystemd-dev libtinyxml2-dev
        
        # Install latest Meson and Mako (required for sdbusplus code gen)
        pip3 install --user --upgrade meson mako

    - name: Build sdbusplus
      run: |
        git clone https://github.com/openbmc/sdbusplus.git
        cd sdbusplus
        # Use 'python3 -m meson' to ensure you use the pip version, not the apt version
        python3 -m meson setup builddir -Dtests=disabled -Dexamples=disabled
        ninja -C builddir
        sudo ninja -C builddir install

    - name: Build bmcweb
      run: |
        cd bmcweb-src
        python3 -m meson setup builddir \
            -Dbuildtype=debug \
            -Dbmcweb-logging=enabled \
            -Dtests=disabled \
            -Dredfish=enabled
        ninja -C builddir
        
    - name: Upload bmcweb Binary
      uses: actions/upload-artifact@v4
      with:
        name: bmcweb-bin-${{ github.event.inputs.branches-tags }}
        path: bmcweb-src/builddir/bmcweb
